.THIS.Container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 300px;
    padding: 10px;
    background-image: url("https://kh.oblast.online/wp-content/uploads/2018/05/6.jpeg");
}

.THIS .FirstdBox{
    display: flex;
  align-content: flex-start;
}
.THIS .IconWeather{
    display: flex;
    margin: 20px 10px;

}
.THIS .icon{
    width: 300px;
    height: 180px;
}

.THIS .CurentCity{
    display: flex;
    color: darkslategrey;
    width: 200px;
    height: 100px;
    margin: 50px 20px;
    font-size:4em;
    font-weight: bold;
    align-items: center;
    align-content: center;


}
.THIS .Secondbox{
    display: flex;
    justify-content: space-around;




}
.THIS .CurentWeather{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.3em;
    font-weight: bold;



}

.THIS .InputCity {
    display: flex;
}

.THIS .button{
    margin-top: 20px;


}